@charset "utf-8";
.header-logo {
   background-color: #000000;
   text-align: center;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.header-logo-background {
   width: 100%;
   height: auto;
   position: relative;
}

.header-logo-text {
   width: 80%;
   color: #EB14F7;
   font-family: tangerine;
   font-size: 14vw;
   top: 20px;
   left: 50px;
   position: absolute;
   text-shadow: 3px 2px 3px #5F03DA;
}
.nav-list {
   display: flex;
   padding: 0;
   margin: 0;
   justify-content: space-between;
   list-style-type: none;
}

.nav-list-items {
   margin: 0;
   flex-grow: 1;
}
.nav-list-items button {
   width: 100%;
   border: none;
   background-color: inherit;
   padding: 10px 0;
   color: inherit;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   
}
.nav-list-items button:hover {
   background-color: inherit;
}
.nav-list-items a {
   color: inherit;
   text-decoration: none;
   display: block;
}
