@charset "utf-8";

/* ========================================================= */
/* BASE STYLES - Styles that apply to all screen sizes/devices */
/* ========================================================= */

.header-logo {
   background-color: #000000;
   text-align: center;
   /* FIX: Added relative position to contain the absolutely positioned text */
   position: relative; 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.header-logo-background {
   width: 100%;
   height: auto;
   /* Removed unnecessary 'position: relative' */
}

.header-logo-text {
   /* FIX: Absolute position relative to .header-logo */
   position: absolute; 
   /* FIX: Centering using 50% / 50% and translate */
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   
   width: 80%;
   color: #EB14F7;
   /* FIX: Added sans-serif fallback font */
   font-family: tangerine, sans-serif; 
   font-size: 14vw;
   
   /* Removed deprecated top/left positioning */
   /* top: 20px; 
   left: 50px; */ 

   text-shadow: 3px 2px 3px #5F03DA;
   white-space: nowrap; /* Prevents title from wrapping unnecessarily */
}

/* NAVIGATION STYLES */
.nav-list {
   display: flex;
   padding: 0;
   margin: 0;
   justify-content: space-between;
   list-style-type: none;
}

.nav-list-items {
   margin: 0;
   flex-grow: 1;
}

/* FIX: New style for the <a> tag with class .nav-button (replaces the old .nav-list-items button) */
.nav-button {
   width: 100%;
   border: ridge #A223F5;
   background-color: #6A5A71;
   padding: 10px 0;
   color: #EB14F7;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   /* FIX: Added sans-serif fallback font */
   font-family: tangerine, sans-serif;
   font-size: 5vw;
   text-shadow: 2px 1px 1px #5F03DA;
   font-weight: bold;
   display: block; /* Ensures the whole list item area is clickable */
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* FIX: Updated hover state to target the .nav-button class */
.nav-button:hover {
   background-color: #EC92C3;
}

/* Removed the redundant/incorrect .nav-list-items button rule */
/* The original .nav-list-items a rule is no longer needed as .nav-button handles all styling */


/* ========================================================= */
/* MEDIA QUERIES (Original structure preserved) */
/* ========================================================= */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Mobile-specific adjustments can go here */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Example: Taming the font size on tablets */
    .nav-button {
        font-size: 30px; 
    }
    .header-logo-text {
        font-size: 80px;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio : 2),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (min-resolution: 192dpi) { 

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Example: Taming the font size on large desktops */
    .nav-button {
        font-size: 24px;
    }
    .header-logo-text {
        font-size: 140px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* Retina displays ----------- */
@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {

}/* For non-retina based devices that have a smaller screen */
@media only screen and (min-width: 320px) {

}

/* Retina enabled devices with smaller screen */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), 
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 320px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 320px),  
only screen and ( min-resolution: 192dpi) and (min-width: 320px),  
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {

}

/*Non- retina based devices with medium screen size */
@media only screen and (min-width: 768px) {

}

/* Retina devices with medium screen size */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 768px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( min-resolution: 192dpi) and (min-width: 768px),  
only screen and ( min-resolution: 2dppx) and (min-width: 768px) {

}

/* Non-retina devices with large screen sizes */
@media only screen and (min-width: 1200px) {

}

/* Retina devices with large screen sizes */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1200px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( min-resolution: 192dpi) and (min-width: 1200px),  
only screen and ( min-resolution: 2dppx) and (min-width: 1200px) {

}

@charset "utf-8";

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio : 2),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (min-resolution: 192dpi) { 

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* Retina displays ----------- */
@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {

}/* For non-retina based devices that have a smaller screen */
@media only screen and (min-width: 320px) {

}

/* Retina enabled devices with smaller screen */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), 
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 320px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 320px),  
only screen and ( min-resolution: 192dpi) and (min-width: 320px),  
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {

}

/*Non- retina based devices with medium screen size */
@media only screen and (min-width: 768px) {

}

/* Retina devices with medium screen size */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 768px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( min-resolution: 192dpi) and (min-width: 768px),  
only screen and ( min-resolution: 2dppx) and (min-width: 768px) {

}

/* Non-retina devices with large screen sizes */
@media only screen and (min-width: 1200px) {

}

/* Retina devices with large screen sizes */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1200px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( min-resolution: 192dpi) and (min-width: 1200px),  
only screen and ( min-resolution: 2dppx) and (min-width: 1200px) {

}

.header-logo {
   background-color: #000000;
   text-align: center;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.header-logo-background {
   width: 100%;
   height: auto;
   position: relative;
}

.header-logo-text {
   width: 80%;
   color: #EB14F7;
   font-family: tangerine;
   font-size: 14vw;
   top: 20px;
   left: 50px;
   position: absolute;
   text-shadow: 3px 2px 3px #5F03DA;
}
.nav-list {
   display: flex;
   padding: 0;
   margin: 0;
   justify-content: space-between;
   list-style-type: none;
}

.nav-list-items {
   margin: 0;
   flex-grow: 1;
}
.nav-list-items button {
   width: 100%;
   border: ridge #A223F5;
   background-color: #6A5A71;
   padding: 10px 0;
   color: #EB14F7;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   font-family: tangerine;
   font-size: 5vw;
   text-shadow: 2px 1px 1px #5F03DA;
   font-weight: bold;
}
.nav-list-items button:hover {
   background-color: #EC92C3;
}
.nav-list-items a {
   color: inherit;
   text-decoration: none;
   display: block;
}
